.daka {
    background-color: #ffffff;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 40px 20px 0;
}
.daka-area {
    position: relative;
}
.text-count {
    position: absolute;
    right: 20px;
    bottom: 10px;
    color: #999;
    font-size: 13px;
}
.classify {
    margin: 10px 20px;
    display: flex;
    align-items: center;
}
.classify .ant-radio-group {
    margin-left: 20px;
}
.classify .ant-radio-button-wrapper {
    border: none;
}
.classify .ant-radio-button-wrapper:first-child {
    border: none;
}
.classify .ant-radio-button-wrapper:not(:first-child)::before {
    background-color: #ffffff;
}
.classify .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    background-color: #ff6e37;
    border-radius: 5px;
    color: #ffffff;
}
.button {
    width: 10%;
    margin-right: 20px;
    background-color: #ff6e37;
    color: #ffffff;
    border: none;
    height: 30px;
    border-radius: 3px;
    margin-bottom: 20px;
}

.daka-container {
    display: flex;
    flex-direction: column;
}
.daka-box {
    background-color: #ffffff;
    box-shadow: 0px 6px 5px #e9e8e8;
    margin-bottom: 20px;
}
.daka-item {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    padding: 20px 20px 0;
}
.count {
    font-weight: 700;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.count img {
    width: 18px;
    height: 18px;
    margin-right: 2px;
}
.content {
    margin-top: 40px;
    font-size: 15px;
    display: flex;
}
.vertical-alain {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.comment-like {
    display: flex;
}

.comment-input {
    margin: 20px 10px;
    display: flex;
    align-items: center;
}
.comment-input img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}
.comment-input input {
    width: 85%;
    height: 25px;
    font-size: 14px;
    padding: 0 10px;
}
.comment-input button {
    height: 22px;
    background-color: #ff6e37;
    color: #ffffff;
    font-size: 14px;
    margin-left: 10px;
    border-radius: 3px;
    line-height: 20px;
    border: none;
}

.comments{
    padding: 0 20px 20px;
}
.comment-list {
    margin: 0 10px;
}




