.root {
    width: 100%;
    margin-top: 200px;
}
.slideBox {
    width: 90%;
    height: 500px;
    margin: 40px auto;
    position: relative;
}
.slide {
    position: absolute;
    transition: all 0.3s ease-in-out;
    user-select: none;
}
.slide:hover{
    cursor: pointer;
}
.slide img {
    width: 310px;
    height: 520px;
}
.masking {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .15);
    transition: all 0.3s 0.2s linear;
}
.middle {
    left: 32%;
    bottom: 0;
    width: 310px;
    z-index: 33;
}
.middle .masking{
    background: transparent;
}
.start {
    left: 0;
    bottom: 0;
    width: 310px;
    z-index: 22;
    transform: scale(0.95);
}
.end {
    right: 0;
    bottom: 0;
    width: 310px;
    z-index: 22;
    transform: scale(0.95);
}
.normal {
    left: 20%;
    bottom: 0;
    width: 310px;
    transform: scale(0.9);
    z-index: 11;
}
.normal2 {
    left: 57%;
    bottom: 0;
    width: 310px;
    transform: scale(0.9);
    z-index: 11;
}
