.home {

}
.carousel-container {
    margin-top: 20px;
    width: 100%;
    height: 300px;
}
.carousel-container img {
    min-width: 100%;
    /*height: auto;*/
    /*width: 100%;*/
    height: 300px;
    overflow: hidden;
}
.home-container {
    margin-top: 20px;
}
.left-container {
    /*background-color: #ffffff;*/
}
.right-container {
    width: 25%;
    height: auto;
    background-color: #ffffff;
    font-size: 12px;
}
.cal-box {
    margin-right: 20px;
    margin-top: 20px;
    box-shadow: 0px 6px 5px #e9e8e8;
}
.cal-box .ant-fullcalendar-selected-day .ant-fullcalendar-value, .ant-fullcalendar-month-panel-selected-cell .ant-fullcalendar-value {
    background: #ff6e37;
    border-radius: 40px;
    padding: 5px;
    outline: none;
}
.cal-box .ant-fullcalendar-selected-day .ant-fullcalendar-value, .ant-fullcalendar-month-panel-selected-cell .ant-fullcalendar-value{
    background: #ff6e37;
    border-radius: 40px;
    padding: 0;
    outline: none;
}
.cal-box .ant-fullcalendar-today .ant-fullcalendar-value, .ant-fullcalendar-month-panel-current-cell .ant-fullcalendar-value {
    box-shadow: 0 0 0 1px #ff6e37 inset;
}
.cal-box .ant-fullcalendar-header{
    display:none;
}
.cal-head {
    font-size: 15px;
    font-weight: 600;
    background-color: #ff6e37;
    text-align: center;
    color: #ffffff;
    padding: 5px;
}
.cal-foot {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #ff6e37;
}
.left-head{
    font-size: 14px;
    font-weight: 600;
    border-left: 4px solid #ff6e37;
    padding-left: 5px;
}
.cal-foot .ant-list-empty-text {
    padding: 0;
    display: none;
}
.right-foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right-foot img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.right-foot p {
    color: #999999;
    font-size: 7px;
    margin: 0;
}

.mid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mid-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    font-size: 16px;
}
.mid-header img {
    width: 20px;
    height: 20px;
    margin: 0 20px;
}
.mid-project {
    background-color: #ffffff;
    box-shadow: 0px 6px 5px #e9e8e8;
    width: 90%;
    display: flex;
    padding: 20px;
    margin: 0 auto;
}
.project-img {
    width: 200px;
    height: 300px;
}
.pro-detail {
    margin-left: 40px;
    line-height: 20px;
}
.mid-project button {
    background-color: #ff6e37;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    padding: 5px 30px;
    margin-top: 10px;
    float: right;
}
.mid-xibao {
    background: url('../images/xibao.png') no-repeat;
    background-size: 100% 100%;
    width: 90%;
    height: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

