.box {
    border: 1px solid #f1f1f1;
    box-shadow: 0px 6px 10px 5px #e9e8e8;
    padding: 20px 0 40px;
    margin-top: 50px;
    background-color: #ffffff;
}
.login-form-forgot {
    float: right;
}
.nav-tab .ant-tabs-nav .ant-tabs-tab-active {
    color: #ff6e37;
}
.nav-tab .ant-tabs-nav-container {
    font-size: 16px;
}
.nav-tab .ant-tabs-ink-bar {
    background-color: #ff6e37;
}
.nav-tab .ant-btn-primary, .reset-form .ant-btn-primary{
    display: block;
    background-color: #ff6e37;
    border-color: #ff6e37;
    font-size: 15px;
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
}
.nav-tab .ant-tabs-nav .ant-tabs-tab {
    margin: 0 180px 0 0;
}
.nav-tab .ant-tabs-nav-scroll {
    text-align: center;
}
.nav-tab .ant-input-group .ant-btn-primary, .reset-form .ant-input-group .ant-btn-primary {
    border-radius: 5px;
}
.reset-form .ant-divider-inner-text {
    color: #999999;
}
.reset-form .ant-divider-horizontal.ant-divider-with-text-center {
    margin-bottom: 40px;
}
#login_type {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#login_type .ant-radio-inner::after {
    top: 3.5px;
}
