.headerImg {
    width: 100%;
    height: auto;
    box-shadow: 0px 6px 5px 5px #e9e8e8;
    margin-top: 20px;
}
.headerImg img {
    width: 100%;
    height: auto;
}
.cp-container {
    padding: 10px 0;
}
.cp-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.caption {
    margin: 0 20px;
    color: #333333;
    font-size: 17px;
}
.tabs .ant-tabs .ant-tabs-left-bar {
    background-color: #f8fbfd;
    border: none;
}
.tabs .ant-tabs .ant-tabs-left-content {
    border: none;
}
.tabs .ant-tabs-nav .ant-tabs-tab-active {
    color: #ffffff;
    background-color: #002f68;
    border-radius: 10px;
    border: none;
}
.tabs .ant-tabs .ant-tabs-left-bar .ant-tabs-ink-bar {
    right: -1px;
}
.tabs .ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
    text-align: center;
}
.tabs .tab-box {
    background-color: #ffffff;
    padding: 20px 30px;
    box-shadow: 5px 5px 6px 5px #e9e8e8;
}
.info {
    font-size: 16px;
    color: #ff6e37;
    font-weight: 500;
}
.info textarea {
    border: 1px solid #ff6e37;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    width: 95%;
    height: 80px;
}
.stack-container {
    padding: 20px;
    color: #666666;
}
.stack-container .head {
    font-size: 17px;
    font-weight: 500;
    color: #333333;
}
.stack-container .ant-radio-button-wrapper {
    border: none;
}
.stack-container .ant-radio-button-wrapper:first-child {
    border: none;
}
.stack-container .ant-radio-button-wrapper:not(:first-child)::before {
    background-color: #ffffff;
}
.stack-container .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    background-color: #7eceff;
    border-radius: 5px;
}
.stack-row {
    margin: 10px 0;
}
.submit-button {
    width: 60%;
    background-color: #ff6e37;
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    padding: 10px;
    margin: 40px 146px;
}
