.web .ant-modal-body {
    padding: 0;
}
.web .ant-modal-content {
    position: relative;
    background-color: #eeeeee;
    border: 10px solid #3d3d3d;
}
.web .ant-modal-close {
    background-color: #3d3d3d;
    top: -30px;
    right: -30px;
    border-radius: 50%;
    padding: 3px 4px;
    color: #eeeeee;
}
.web .ant-modal-close-x {
    width: 0;
    height: 0;
    display: inline;
    line-height: 0;
    font-size: 13px;
}
.modal-form .ant-layout-content {
    background-color: #eeeeee;
}
.modal-form .ant-layout-sider-children {
    border-left: 3px solid #3d3d3d;
}
.modal-form .ant-page-header {
    background-color: #eeeeee;
}
.modal-form .ant-layout-sider {
    background: #eeeeee;
}
.modal-form .ant-divider-horizontal.ant-divider-with-text-center {
    margin: 10px 0;
}
.modal-form .ant-divider-horizontal.ant-divider-with-text-center::before, .modal-form .ant-divider-horizontal.ant-divider-with-text-center::after {
    border-top: 1px solid #ffffff;
}
.modal-form .ant-divider-inner-text {
    padding: 0 15px;
    color: #ffffff;
}
.side-header {
    background-color: #ef6656;
    padding: 1px 30px;
}
.side-content {
    color: #999999;
    padding: 20px;
    font-size: 12px;
}
.task-button {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translate(-50%);
}
.task-button .ant-btn-primary {
    background-color: #ef6656;
    border-color: #ef6656;
    color: #ffffff;
    padding: 5px 50px;
    cursor: pointer;
    height: auto;
    font-size: 14px;
}
