.header {
    width: 100%;
    height: auto;
    background-color: #ffafa9;
    padding: 15px 0;
}
.user-info {
    margin-left: 130px;
    padding-bottom: 15px;
}
.user-info .ant-descriptions-row > th, .header .ant-descriptions-row > td {
    padding-bottom: 5px;
}
.user-info .ant-descriptions-title {
    margin-bottom: 10px;
}
.head-container img {
    width: 110px;
    height: 110px;
    border: 4px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 10px;
}

.nav-container {
    width: 100%;
    height: 120px;
    background-color: #ffffff;
    box-shadow: 0px 6px 10px 5px #e9e8e8;
    margin-top: -20px;
}
.nav-container .navbar {
    display: flex;
    margin-top: 80px;
    color: #333333;
    font-weight: 500;
    font-size: 16px;
}
.nav-container ul .nav {
    list-style-type: none;
    width: 70px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.nav-container ul .nav.active {
    border-bottom: 3px solid #333333;
}
.content-container {
    margin-top: 40px;
}
