.user-profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.headPortrait {
    margin: 20px auto;
    text-align: center;
}
.sub-button .ant-form-item-children {
    text-align: center;
}
.sub-button .ant-btn-primary{
    background-color: #ff6e37;
    border-color: #ff6e37;
    float: right;
}


.sexcheck label {
    margin-right: 40px;
}
.sexcheck span {
    margin-left: 10px;
}

