.path-header {
    /*background-color: #1188f8;*/
    width: 50%;
    padding: 5px 6%;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    background:
        linear-gradient(225deg, transparent 10px, #1188f8 0)
        top right
}
.path-item {
    margin-bottom: 20px;
}
.path-list .ant-list-item {
    padding: 12px;
    color: #000000;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}
.dark, .dark .ant-btn-round{
    background-color: #e0e0e0;
}
.light, .light .ant-btn-round {
    background-color: #efefef;
}
.path-list .ant-btn-round {
    border-color: #1188f8;
    color: #1188f8;
    font-size: 15px;
}
.load {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    color: #1188f8;
}

.path-detail {
    background-color: #ffffff;
    margin-bottom: 200px;
}
.path-detail .ant-list-item {
    padding: 15px;
}
.detail-title {
    font-size: 16px;
    color: #333333;
}
.path-con {
    display: flex;
    justify-content: space-between;
}
.path-modal, .path-modal img {
    width: 150px;
    height: 150px;
}
